modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33435
externalPort = 4200

[[ports]]
localPort = 46575
externalPort = 5000

[[ports]]
localPort = 46653
externalPort = 3003
